<%= nested_form_for @post, :html => {:class => "form-horizontal center", multipart: true} do |f| %>
  <%= render partial: '/shared/error', locals: {object: f.object}%>
  <div class="form-group">
    <%= f.label :title, "Title:", class: "col-md-4 control-label" %>
    <div class="col-md-6">
      <%= f.text_field :title, class: "form-control", placeholder: "Enter Title" %>
    </div>
  </div>
  <%= f.fields_for :pictures, @picture do |p|%>
    <div class="form-group">
      <%= p.label :image, "Upload Profile:", class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= p.file_field :image, class: "form-control" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">        
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox ">
        <%= f.check_box :public %> Public
      </div>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>  
<% end %>
