<div class="container">
	<p id="notice"><%= notice %></p>
	<div class='col-xs-8'><%= @post.title%></div><br/>
	<% if @post.pictures&.first.present?%>
	  <div class='col-xs-8' ><%= image_tag @post.pictures.first.image.url, style: 'height:80%;width:80%;' %></div>
	<% end %>
	<div class='col-xs-8'>
		<% if current_user == @post.user %>
		  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary'%>
		  <%= link_to 'delete', post_path(@post), method: :delete, class: 'btn btn-danger'%>
		<% end %>
	</div>
	<div class='col-xs-8'>
		<%= commontator_thread(@post) %>
	</div>
</div>
