<p id="notice"><%= notice %></p>
<div class='col-xs-6'><%= @post.title%></div><br/>
<% if @post.pictures&.first.present?%>
  <div class='col-xs-6' ><%= image_tag @post.pictures.first.image.url, style: 'height:50%;width:auto;' %></div>
<% end %>
<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post)%>
  <%= link_to 'delete', post_path(@post), method: :delete%>
<% end %>
<%= commontator_thread(@post) %>
